.article-edit-page {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 20px 28px;
  height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .article-edit-page {
    padding: 16px 12px 20px;
    max-width: 100%;
  }
}
